/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  /*background-color: #1c5380;*/
}

.container {
  background-color:#1c5380;
  width: auto;
  text-align: center;
  height: 80%;
  justify-content: space-between
  ;

}

header {
  align-items: center;
  justify-content: center;
  height: 80%;

}

.box-header, .tabla {
  display: flex;
  flex-direction: column;

} 

.telefonos {
  width: auto;
  float: right;
  position: relative;
  background-color: white;
  padding-right: 15px;
}


.entrada-instagram {
  float: inline-start;
  background-color: #1c5380;
}

button {
  background-color: #1c5380;
  border: 1px solid navy;
  box-shadow: navy;
  color: #8fa7bd;
  font-weight: bold;
  align-items: center;
}


.home-button {
  float: inline-start;
  width: 95px;
  margin-top:75px;
  margin-left: 15px;
}
.box-header {
  background-color: white;
  justify-content: space-between;
}

.cuadro {
  right: auto;
  width: 60%;
  margin-left: 25px;
  margin-right: 50px;
}

.texto {
  text-align: left;
  padding: 15px;
  background-color: white;
}

h1 {
  color: #06365f;
}

.logos-finales {
  text-align: center;
  justify-content:space-around;
  position: absolute;
  margin: auto;
  padding-left: 30px;
}

footer {
  text-align: center;
  justify-content: space-between;
  background-color: white;
}

nav {
  color: #7b7f81;
  font-weight: bold;
  padding: 30px;
  margin-top: 10px;
}

nav a {
  color: #06365f;
  text-decoration: none;
  margin: auto;
  padding: 10px;
}

.column1 {
  background-color: white;
  width: 40%;
}

.column2 {
  background-color:#1c5380;
  width: 40%;
}

.fila1 {
  background-color: greenyellow;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  
}

.fila2 {
  background-color: hotpink;
  width: inherit;
}

.fila3 {
  background-color: indigo;
}

* {
  border: 1px solid red;
}


.tabla {
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  background-color: #1c5380;
}
.column1, .column2 {

}

.frame, .relleno {
  position: absolute;
}

.frame {
  z-index: 1;
  width: inherit;
}

.relleno {
  z-index: 2;
  width: inherit;
}
















